:host {
    --background-image-url: 'default.jpg';
    --main-background-image-url: 'default.jpg';
    
}
.body{
    margin-left: -0.75rem;
    margin-top: -0.75rem;
    width: calc(100% + 1.5rem);
    height: calc(100% + 1.5rem);
    background-color: #FFFFFF;
    background-image: var(--main-background-image-url);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.sub_body{
    width: 100%;
    min-height: 100%;
    height: 100%;
    padding-top: 0.5rem;
}



iframe{
    

    width:100%;
    margin: 0.5rem;
    border-radius: 6px;
    /* border: 1px solid rgb(210, 208, 206); */
    border: 1px solid #9ee0ff;
    margin-left: 1rem;

}

.main{
    display: flex;
    width:100%;
    height: calc(100% - 2rem);
    position: relative;
}

.fieldMappingContainer{
    background-color: #FFFF;
    width:30rem;
    border-radius: 6px;
    margin: 0.5rem;
    height: calc(100% - 1rem);

}


.section {

     display: flex;
     justify-content: center;
     align-items: center;
     background: #00000047;


     position: absolute;
     top: 0px;
     left: 0px;
     margin-left: -0.75rem;
     z-index: 9999;
     display: flex;
     justify-content: center;
     align-items: center;
     background: rgba(0, 0, 0, 0.323);
     backdrop-filter: blur(3px);

     width: calc(100% + 1.5rem);
     height: calc(100% + 1.5rem);
}

.section .main{
    display: block;
    border-radius: 6px;
    text-align: center;
    width: 55rem;
    height:35rem;
    background-color: white;    
    background-image: var(--background-image-url);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.firstRow{
    width: 100%;
    height:10%;
    display: flex;
}
.title{
    font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    width: 40%;
    font-size: 26px;
    text-align: start;
    font-weight: 700;
    color: #00AEFF;
    float: left;
    margin: 2%;
}

.profile{
    width:30%;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 0px #00000040;
    height: 100%;
    margin-top: 1%;
    margin-left:25%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userData{
    
   margin-right: 1%;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;


}
.username{
  
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    justify-content: flex-end;
    font-weight: bold;
}
.email{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 50%;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    justify-content: flex-end;
}
.profileIcon{
    height:75%;
    width:15%;
    margin-inline: 2%;
    border-radius: 50%;
}


.secondRow{
    display: flex;
    flex-direction: row;
    height:6%;
    width:100%;
    margin-top:2%;
    align-items: center;
}
 /* ----- ------- ------- ------ ------ ------ ------ ------ -------  */
      /* ----- ------ ------- ------- --- Search Section --------------- ------- ---------- */
     
    
      .seachContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      background: white;
      border-radius: 0.5rem;
      box-shadow: 0px 0px 15px 0px #00000033;
      padding-inline: .5rem;
      width:35%;
      height:100%;
      margin-left:1%;
      }
      .iconSection{      
        height: 100%;
        width: 15%;
        transition: all linear 0.4s;
      }
      .iconSection path{
        stroke: #ABB7C2;
      }
      .searchInput{
        width: 100%;
      
        max-width: 100%;
        height: 100%;
        border: none;
        flex-grow: 1;
        transition: all linear 0.4s;

      }
      .searchInput::placeholder{
        font-size: 18px;
        color: #ABB7C2;
        font-family: Poppins;
        line-height: 26px;
      }
      .searchInput:focus-visible{
        outline: none;
        border: none;
      }
      .seachContainer .searchInput:focus-visible {
        box-shadow: none;
      }
      
      /* ----- ------ ------- ------- --- Search END Section --------------- ------- ---------- */
  
  /* ===== ===== ========== ===== ===== ========== ===== ===== ========== ===== ===== ==========  */



.refresh-div{
    height: 100%;
    width:10%;
    cursor: pointer;
    border-radius: 6px;
    margin-right: 1%;
    margin-left: 53%;
    box-shadow: 0px 0px 5px 0px #00000040;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.refresh{
    width:90%;
}



.footer{
    height: 8%;
    margin-top: 1%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button{
    /* height:2rem;
    width:7rem; */
    height: 2.5rem;
    width: 10rem;
    border-radius: 6px;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;

    border: 1px solid #00AEFF;
    font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
}

.cancel{
    margin-right: 0.5rem;
    background: #FFFF;
    color: #00AEFF;
    box-shadow: 0px 3px 12px 0px #4A3AFF2E;

}
.next{
    margin-left:0.5rem;
    background: #00AEFF;
    box-shadow: 0px 3px 12px 0px #4A3AFF2E;
}

.documents{
    
    height:66%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 0.5rem;

    display: grid;
    justify-content: center;
    align-items: start;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    overflow-y: auto;
    max-height: 75%;
    gap: 1%;
    margin-top: 1%;
    padding-block-start: 0.5%;
}
.docs-container{
    border-radius: 6px;
    height: 11rem;
    width:95%;    
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 0px #00000040;
    cursor: pointer;
}



.docFirstRow{
    margin: 5%;
    display: flex;
    flex-direction: row;
    height: 15%;
}
.small{
    height:100%;
    width:10%;
}
/* original */
/* .docName{
    font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 13.2px;
    text-align: left;
    width:88%;
    overflow:hidden;
    text-overflow: ellipsis;
    margin-left: 3%;
    display: flex;
    align-items: center;
} */

/* 2line */
.docName {
  font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 13.2px;
  text-align: left;
  width: 88%;
  margin-left: 3%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  word-wrap: break-word; 
  word-break: break-all; 
}

.docName p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}


.docSecondRow{
    background: #D9D9D980;
    box-shadow: 0px 0px 1px 0px #00000040 inset;
    margin-inline: 5%;
    height:50%;
    border-radius: 0.5rem;
}
.big{
    height:80%;
    width:40%;
    margin-top: 5%;
}

.docThirdRow{
    margin-top: 10%;
    margin-inline: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.size{
    font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 11px;
    text-align: left;

}
.date{
    
    font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 11px;
    text-align: left;
    margin-left: 2.5rem;

}

input:focus{
    outline: none;
}

.selected{
    outline-style: groove;
    outline-color: #00AEFF;
    outline-width: 1px;
    box-shadow: 1px 1px 5px 1px #00AEFF;
}

/* .docs-container:hover{ */
.hover-effect:hover{
    box-shadow: 1px 1px 5px 1px #00000040;
}

.emptySearch{
    height:66%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.emptyIcon{
    height: 50%;
   
}

.empty-text1{
    width:100%;
    margin-top: 1%;
    font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    /* font-family: Montserrat; */
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
    color:  #111824;

}
.empty-text2{
    margin-top: 1%;
    width:100%;
    font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    /* font-family: Montserrat; */
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    color: #111824;


}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .section .main{
      width:40rem;
      height: 30rem;
    }
    .documents{
        grid-template-columns: repeat(3, 1fr);
    }
    .docs-container{
        height: 9.5rem;
    }
    .profile{
        width: 40%;
        margin-left: 15%;
    }
    .title{
      font-size: 21px;
    }
}



.desicionContainer{
    margin-inline: 1rem;
    margin-bottom: 0.5rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #9ee0ff;
    border-radius: 6px;
  }


  @media only screen and (max-width: 1350px){
    .fieldMappingContainer{
      position: absolute;
      right: 0%;
      width: 30rem;
      margin-inline: 1rem 0rem;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      transform: translateX(calc(100% + 0.5rem));
      transition: all linear 0.325s;
    }
    .openFieldMapping{
      transform: translateX(0px) !important;
    }
    .toggleFieldMapping{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
  
      position: absolute;
      top: 0.5rem;
      right: 100%;
      
      width: 5.5rem;
      padding: 0.25rem 0.5rem;
      border: 1px solid #00000021;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      background: white;
      overflow: hidden;
      transition: all linear 0.325s;
      cursor: pointer;
      user-select: none;
  
      font-size: 14px;
      font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
  
    }
  }


      /* ---- TAB SECTION CSS --- START ---- */
      .tabSection{
        width: calc(100% - 2rem);
        
        height: 2rem;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 1rem;
        background: linear-gradient(269.86deg, rgb(173 229 255) 0%, rgb(174 255 233) 100%);
        
        position: relative;
        margin-inline: auto;
        
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom: 1px solid #51c7ff;
      }
     
      .tabSection_sub{
        width: fit-content;
        
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        z-index: 10;
        
      }
      .tabSection_sub:last-child{
        flex-grow: 1;
      }
      .homeBtn{
        margin-right: 0.5rem;
        cursor: pointer;
      }
      .homeBtn svg{
        width: 20px;
        height: 20px;
      }
      .homeBtn path{
        fill: #003b57;
      }
      .tab{
        width: fit-content;
        min-width: 7rem;
        height: 100%;
        padding: 0.25rem 1.5rem;
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
        font-weight: 600;
        color: #595959;
        cursor: pointer;
        margin-inline: 0.2rem;
        background: transparent;
        transition: all linear 0.2s;
        
        &:hover{
          
          color: black;
          background: linear-gradient(0deg, #00aeff27 0%, transparent 117%);
          
        }
      }
      .activeT{
        background: linear-gradient(0deg, #00aeff27 0%, transparent 117%);
        color: black;
        
      }
      .tab svg{
        width: 16px;
        height: 16px;
        fill: #595959;
      }
      .activeT svg{
        fill: black;
      }
      .activeTabBar{
        width: 0%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: absolute;
        background: linear-gradient(0deg, #00aeff 3%, #00aeff3b 0%, transparent 117%);
        
        border-bottom: 1px solid #00aeff;
        transition: all linear 0.2s;
      }
      /* ---- TAB SECTION CSS --- END ---- */

      .tabArea{
        width: 100%;
        height: 100%;
      }
      .deactiveTabs{
        display: none;
      }
      .templateName{
        
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.75rem;
        margin-right: 1rem;
        cursor: pointer;
        padding: 1px 1rem;
        border-radius: 6px;
        margin-left: auto;
        backdrop-filter: blur(13px);
        background: linear-gradient(93deg, rgb(199 255 242 / 57%) 0%, rgb(207 244 255) 100%);
        box-shadow: rgb(0 49 81 / 22%) 0px 0px 3px 0px, rgb(148 148 148 / 15%) 0px 0px 0px 1px;
      }
      .templateNameText{
        font-size: 14px;
        font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
        font-weight: 600;
        color: black;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 30rem;
      }
      .recordSVG{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      .recordSVG svg{
        width: 16px;
        height: 16px;
      }
      .recordSVG path{
        fill: black;
      }
  

.basicTab{
  display: none;
  height: 100%;
}

.updateDeatilContainer{
  height: calc(100% - 4rem);
  width: calc(100% - 2rem);
  overflow: hidden;
  transition: all linear 0.5s;
  padding : 1rem;
  margin-top: 0.5rem;
}

.buttonSection{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  gap: 1rem;
  box-shadow: 0px 0px 11px 0px #00000040;
  border-radius: 6px;
  width: calc(100% - 6rem);
  min-height: 3.25rem;
  max-height: 5rem;
  transition: all linear 0.5s;

  --slds-c-button-brand-color-background : var(--mainThemeColor);
  --slds-c-button-brand-color-border: var(--mainThemeColor);
  --slds-c-button-brand-color-background-hover: var(--mainThemeColor);
  --slds-c-button-brand-color-border-hover: var(--mainThemeColor);
}

.basicDetails{
  
  width:100%;
  border-radius: 6px;
  height: calc(100% - 4rem);
  padding: 1rem;
  padding-top: 0rem;
}


.basicDetails_sub{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  overflow: auto;
  scrollbar-color: #28b3f4 #28b3f400;
  scrollbar-width: thin;

}

/* ============ =============== DETAIl EDIT Section -- START -- ================= ================ */
.templateDetails{
  
  width: 100%;
  min-width: 50%;
  height: 100%;
  padding-inline: 1rem;
}

.detailHeader {
    text-align: center;
    font-size: 16px;
    font-family: var(--fontFamily1);
    margin-bottom: 0.5rem;
    background-color: #00AEFF;
    box-shadow: 0px 0px 11px 0px #00000040;
    padding: 0.5rem;
    border-radius: 6px;
    color: #FFFF;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;

}

.detailEditSection {
  --sds-c-input-shadow-focus : none !important;
  --slds-c-textarea-shadow-focus : none !important;

  padding-bottom: 0.5rem;
}
.error-border {
  border: 1px solid red !important;
  border-radius: 6px;
}

.editName {
    /* Add your styles here */
}

.editField {
  width: 100%;
  margin-block: 1rem;
  position: relative;
}

.floatingLabel {
  position: absolute;
  top: 0%;
  left: 1rem;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 13px;
  background: white;
  padding-inline: 0.25rem;
  color: #009ae1;
  font-family: var(--fontFamily1);
}
.fieldInput {
  --lwc-heightInput: 2.5rem !important;
  --slds-c-input-color-border: #878787 !important;
  width: 100%;
}

.editDescription {
  width: 100%;
}

.descriptionInput {
  width: 100%;
}

.editStatus {
    width: max-content;
    margin-bottom: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.statusLabel {
  font-size: 13px;
  color: #009ae1;
  font-family: var(--fontFamily1);
}

    .tempToggle {
      width: fit-content;
      height: max-content;
      position: relative;
      overflow: hidden;
    }
    .toggleDiv{
      width: 7rem;
      height: 1.75rem;
      padding: 0.25rem;
      border-radius: 32px;
      
      background-color: #adadad;
      transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
      cursor: pointer;
    }
    .toggleBtnBg{
      height: 100%;
      width: 100%;
      position: relative;
    }
    .toggleBtnBg::before{
      position: absolute;
      top: 0px;
      left: auto;
      transform: translateX(0%);
      right: 0% !important;
      content: "";
      height: 100%;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: #fff;
      transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    }
    .StatusText{
      width: 200%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    }
    .StatusText span{
      width: 45%;
      height: 100%;
      color: white;
      font-size: 14px;
      display: flex;
      justify-content: center;
      font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
      user-select: none;
      line-height: 22px;
      letter-spacing: 0.5px;
    }
    .checkBox:checked + label .toggleBtnBg::before{
      transform: translateX(100%);
      right: 100% !important;
    }
    .checkBox:checked + label .StatusText{
      transform: translateX(0%);
    }

    .checkBox:checked + label .toggleDiv{
      background-color: #14AD00;
      background-color: #00aeff;
    }

.previewLabel{
  font-size: 13px;
  padding-inline: 0.25rem;
  color: #009ae1;
  font-family: var(--fontFamily1);
}
.nonEditInput{

  width: 100%;
  --lwc-heightInput: 2rem !important;
  --slds-g-color-neutral-base-95 : #f1f3f4;  /* disable field background-color  */ 
  --slds-g-color-border-base-1 : #00000012;     /* disable field border-color  */ 
  --slds-g-color-neutral-base-50 : #747474;     /* disable field Text-color  */ 
}
.previewTwise{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.previewField {
    width: 100%;
    position: relative;
}

 /* ============ =============== DETAIl EDIT Section -- END -- ================= ================ */
 .msIcon svg > path.OfficeIconColors_HighContrast:not([class*="OfficeIconColors_m"]) {
  fill: transparent;
}
svg>path.OfficeIconColors_m20 {
  fill: #FAFAFAFF;
}
svg>path.OfficeIconColors_m22 {
  fill: #3A3A38FF;
}
svg>path.OfficeIconColors_m24 {
  fill: #1E8BCDFF;
}

.pageConfigs{
width: 50%;
min-width: 50%;
height: 100%;
font-family: var(--fontFamily1);
padding-left: 1rem;
overflow: auto;

}
.pageConfig_sub{
display: flex;
flex-direction: column;
gap: 1rem;
height: calc(100% - 2rem);
}

.dummyPageContainer{
  width: auto;
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dummyPage{
  width: auto;
  height: 10rem;
  aspect-ratio: 0.707;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 6px;
  transition: all linear 0.5s;
}
.pageConfigTitle{
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: rgb(46, 46, 46);
  margin-bottom: 0.5rem;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  background-color: #D3D3D3;
  border: none;
}