:host{
    --pdfWidth : 72rem;
    --pdfActualPreviewWidth : calc(var(--pdfWidth) - 18.9rem);
    --ff_Bahnschrift : Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    --ff_Montserrat : "Montserrat";
    --ff_Poppins : Poppins;
}

.preview_mainDiv {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 65%);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

}
 
.preview_Contanier {
    height: 98%;
    width:max-content;
    background: white;
    border-radius: 6px;
    overflow: hidden;
}
 
.preview_SubContanier {
    width: max-content;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}
 
.preview_leftSection {
    width: 25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.titleSection {
    width: 100%;
    height: 3.5rem;
    border-bottom: 1px solid #00acff;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    font-family: var(--ff_Bahnschrift);
    letter-spacing: 1px;
    color: #00acff;

}
 
.optionSection {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.recordSelectionSection{
    width: 100%;
}
.generateBtn{
    width: 100%;

    display: flex;
    justify-content: center;

    --slds-c-button-brand-color-background : rgb(0 148 108);
    --slds-c-button-brand-color-border: rgb(0 148 108);
    --slds-c-button-brand-color-background-hover: rgb(0 148 108);
    --slds-c-button-brand-color-border-hover: rgb(0 148 108);
}
 
.buttonSection {
    width: 100%;
    height: 5rem;
    border-top: 1px solid rgb(160, 160, 160);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
 
.preview_rightSection {
    width: max-content;
    height: 100%;
    background: #f2f9ff;
}

.iframe_outer{
    /* width: var(--pdfActualPreviewWidth); */
    width: 60rem;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.preview_iframe{
    /* width: var(--pdfWidth); */
    width: 100%;
    height: 100%;
    float: right;
    border: none;
}

.iframeToolbarSection{
    visibility: hidden;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 10rem;
    height: 3.5rem;
    background: #323639;
}
.iframeToolbarSection.show{
    visibility: visible;
}

.intiImg{
  width: min(35rem, 60%);
  /* margin-bottom: 2rem; */
  filter: drop-shadow(2px 2px 3px #7b7b7b);
}


 /* -------------------- ----------------------- Error Popup Detail CSS ----------------------- --------------------- */
 .errorMessageContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    --designCurveColor : #FF000033;
    --statusIconColor : #FF0000;
 }
 .popupContainer {
    width: 16rem;
    height: fit-content;
  }
 .popupBody{
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    /* border: 1px solid var(--designCurveColor); */
    /* box-shadow: 0px 0px 35px 0px var(--designCurveColor); */
    box-shadow: 0px 0px 35px 0px #00000042;
    
  }
  
  .topDesingSection {
    width: 100%;
    min-height: max-content;
    height: 9rem;
    position: relative;
    overflow: hidden;
  
  }
  .curveDesign{
    position: absolute;
    top: -100%;
    left: 0%;
    transform: translate(-5%, 0%);
    width: 110%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--designCurveColor);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2.75rem;
  }
  
  .contentSection {
    width: 100%;
    height: 13.5rem;
    padding: 1rem 1rem 2rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .ballDesignIcon{
    width: 4rem;
    height: 4rem;
    stroke: var(--statusIconColor);
    /* margin-bottom: 1.5rem; */
  }
  
  .toastIcon .ballDesignIcon{
    width: 24px;
    height: 24px;
    stroke: var(--statusIconColor);
  }

  .titleDiv{
    font-size: 21px;
    text-align: center;
    width: 100%;
    margin-bottom: 0.5rem;
    color: var(--statusIconColor);
    /* filter: brightness(0.9); */
  }
  .titleDiv h2{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .messageDiv{
    font-size: 14px;
    text-align: center;
    color: var(--statusIconColor);
    opacity: 85%;
    flex-grow: 1;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .messageDiv p{
    overflow: hidden;
    /* word-break: break-all; */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  } 
  /* -------------------- ----------------------- Error Popup Detail CSS - END - ----------------------- --------------------- */

  /* ------------------ ------------------------ Loading State CSS ------------------------- --------------------------- */

  .loadingContainer{
    /* width: 100%; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    --documerPageHeight : 17rem;

  }

  .loadingInfo{
    width: max-content;
    position: absolute;
    top: calc(50% + (var(--documerPageHeight)/2) + 2rem);
    left: 50%;
    transform: translate(-50%, 0px);
    font-size: 20px;
    font-family: var(--ff_Poppins);
    color: #02afff;
    text-transform: capitalize;
  }


  /* ------------------ ------------------------ Loading State CSS ------------------------- --------------------------- */