:host(){
  --selectedItemBGColor : initial;  
  --selecteditemTextColor : initial;  
  --inputAreaHeight : initial;      
  --inputAreaWidth : initial;     
  --inputAreaBorderWidth : initial;     
  --inputAreaBorderColor : initial; 
  --inputAreaBorderRadius : initial;  
  --inputAreaIconSize : initial;  
  --inputAreaIconColor : initial; 
  --inputAreaFontSize : none;  
  --inputAreaFontColor: initial;  
  --labelFontColor : black;     
  --labelFontSize : initial;      
  --placeHolderColor : initial;   
  --placeHolderSize  : initial;   
  --inputOnFocusShadow : initial; 
  --inputOnFocusBorderColor : initial;  
  --dropDownWidth : initial;    
  --dropDownMaxHeight : initial;  
  --optionFontSize : initial;     
  --optionFontColor : initial;    

  /* --selectedItemBGColor : rgba(0, 0, 0, 0.23);  
  --selecteditemTextColor : white;  
  --inputAreaHeight : 5rem;      
  --inputAreaWidth : 15rem;     
  --inputAreaBorderWidth : 1px solid blue;      
  --inputAreaBorderRadius : 12px;  
  --inputAreaIconSize : 1.5rem;  
  --inputAreaIconColor : rgb(100, 196, 255); 
  --inputAreaFontSize : 20px;  
  --inputAreaFontColor: rgb(100, 196, 255);
  --inputAreaBgColor : rgb(255, 239, 61);
  --labelFontColor : rgb(255, 239, 61);     
  --labelFontSize : 20px;      
  --placeHolderColor : rgb(154, 0, 138);   
  --placeHolderSize  : 20px;   
  --inputOnFocusShadow : 0 0 3px #74ff82; 
  --inputOnFocusBorderColor : #74ff82;  
  --dropDownWidth : 30rem;    
  --dropDownMaxHeight : 10rem;  
  --optionFontSize : 20px;     
  --optionFontColor : rgb(154, 0, 138);     */
}
.backDrop{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.optionPosition{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.selectedItem{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: var(--selectedItemBGColor, rgb(0 174 255 / 25%));
  }

  .selctedtionColor{
    color: var(--selecteditemTextColor, black) !important;
  }

  /* ========= Custom CSS Style to Override Standerd ======== */
  .mainComboDiv{
    --lwc-heightInput :  var(--inputAreaHeight);
    --lwc-borderWidthThin : var(--inputAreaBorderWidth);
    --slds-c-input-color-border : var(--inputAreaBorderColor);
    --slds-c-input-radius-border : var(--inputAreaBorderRadius) ;
    --slds-c-icon-color-foreground-default : var(--inputAreaIconColor);
    --lwc-squareIconUtilitySmall : var(--inputAreaIconSize);
    --slds-c-input-text-color : var(--inputAreaFontColor);
    --slds-c-input-color-background : var(--inputAreaBgColor);
    --lwc-shadowButtonFocus : var(--inputOnFocusShadow);
    --slds-g-color-brand-base-60 : var(--inputOnFocusBorderColor);
    --lwc-sizeXSmall : var(--dropDownWidth, var(--inputAreaWidth));
    --lwc-sizeMedium : var(--dropDownWidth, var(--inputAreaWidth));
    --lwc-formLabelFontSize : var(--optionFontSize);
    --slds-g-color-neutral-base-30 : var(--labelFontColor);
    --lwc-borderRadiusMedium : var(--inputAreaBorderRadius);  /* dropDown Border radius same as input area border radius */
    --lwc-fontSize2 : var(--optionFontColor);
    --slds-g-color-neutral-base-10 : var(--labelFontColor);
    
  }
  .inputAreaCSS_1{
    width: var(--inputAreaWidth, initial) !important;
  }
  .inputAreaCSS_2, .inputAreaSectiedValueCSS{
    font-size: var(--inputAreaFontSize, initial) !important;
  }
  .inputAreaCSS_2::placeholder, .placeHolderCSS{
    display: flex !important;
    align-items: center !important;
    color: var(--placeHolderColor) !important;
    font-size: var(--placeHolderSize) !important;
  }
  .dropDownCSS{
    max-height: var(--dropDownMaxHeight, inherit) !important;
  }