:host(){
    --selectedItemBGColor : unset;  
    --selecteditemTextColor : unset;  
  
    --inputAreaHeight : unset;      
    --inputAreaWidth : 100%;     
    --inputAreaBorderWidth : unset;     
    --inputAreaBorderColor : unset; 
    --inputAreaBorderRadius : unset;  
    --inputAreaIconSize : unset;  
    --inputAreaIconColor : unset; 
    --inputAreaFontSize : none;  
    --inputAreaFontColor: unset;
  
    --labelFontColor : black;     
    --labelFontSize : unset;   
  
    --placeHolderColor : unset;   
    --placeHolderSize  : unset;   
  
    --inputOnFocusShadow : unset; 
    --inputOnFocusBorderColor : unset;  
  
    --dropDownWidth : unset;    
    --dropDownMaxHeight : unset;  
  
    --optionFontSize : unset;     
    --optionFontColor : unset;
    --optionLineHeight : unset;
  
    --labelBackgroundColor : unset;
    --labelLeft : unset;
    --labelPosition : unset;
    --labelTop : unset;
    --labelColor : unset;
  
    --descriptionColor : #848484;
    --descriptionFontSize : 11px;
    --descriptionTopMargin : -0.25rem;
    
    --optionIconSize : 20px;
  
    /* --selectedItemBGColor : rgba(0, 0, 0, 0.23);  
    --selecteditemTextColor : white;  
    --inputAreaHeight : 5rem;      
    --inputAreaWidth : 15rem;     
    --inputAreaBorderWidth : 1px solid blue;      
    --inputAreaBorderRadius : 12px;  
    --inputAreaIconSize : 1.5rem;  
    --inputAreaIconColor : rgb(100, 196, 255); 
    --inputAreaFontSize : 20px;  
    --inputAreaFontColor: rgb(100, 196, 255);
    --inputAreaBgColor : rgb(255, 239, 61);
    --labelFontColor : rgb(255, 239, 61);     
    --labelFontSize : 20px;      
    --placeHolderColor : rgb(154, 0, 138);   
    --placeHolderSize  : 20px;   
    --inputOnFocusShadow : 0 0 3px #74ff82; 
    --inputOnFocusBorderColor : #74ff82;  
    --dropDownWidth : 30rem;    
    --dropDownMaxHeight : 10rem;  
    --optionFontSize : 20px;     
    --optionFontColor : rgb(154, 0, 138);     */
  }
  .backDrop{
      display: none;
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 10;
  }
  
  .optionPosition{
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      z-index: 3;
  }
  
    .disabledItem{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: #ffffff78;
      backdrop-filter: grayscale(1);
      cursor: not-allowed;
      z-index: 999;
    }
  
    .selectedItem{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: var(--selectedItemBGColor, rgb(0 174 255 / 25%));
    }
  
    .selctedtionColor{
      color: var(--selecteditemTextColor, black) !important;
    }
  
    /* ========= Custom CSS Style to Override Standerd ======== */
    .mainComboDiv{
      --lwc-heightInput :  var(--inputAreaHeight);
      --lwc-borderWidthThin : var(--inputAreaBorderWidth);
      --slds-c-input-color-border : var(--inputAreaBorderColor);
      --slds-c-input-radius-border : var(--inputAreaBorderRadius) ;
      --slds-c-icon-color-foreground-default : var(--inputAreaIconColor);
      --lwc-squareIconUtilitySmall : var(--inputAreaIconSize);
      --slds-c-input-text-color : var(--inputAreaFontColor);
      --slds-c-input-color-background : var(--inputAreaBgColor);
      --lwc-shadowButtonFocus : var(--inputOnFocusShadow);
      --slds-g-color-brand-base-60 : var(--inputOnFocusBorderColor);
      --lwc-sizeXSmall : var(--dropDownWidth, var(--inputAreaWidth));
      --lwc-sizeMedium : var(--dropDownWidth, var(--inputAreaWidth));
      --slds-g-color-neutral-base-30 : var(--labelFontColor);
      --lwc-borderRadiusMedium : var(--inputAreaBorderRadius);  /* dropDown Border radius same as input area border radius */
      --slds-g-color-neutral-base-10 : var(--labelFontColor); 
      width: 100%;
      z-index: unset !important;
    }
    .mainComboDiv .optionIcon{
      --lwc-squareIconMediumBoundary : var(--optionIconSize);
    }
  
    .inputAreaCSS_1{
      width: var(--inputAreaWidth, 100%) !important;
    }
    .inputAreaCSS_2, .inputAreaSectiedValueCSS{
      font-size: var(--inputAreaFontSize, unset) !important;
    }
    .inputAreaCSS_2::placeholder, .placeHolderCSS{
      display: flex !important;
      align-items: center !important;
      color: var(--placeHolderColor) !important;
      font-size: var(--placeHolderSize) !important;
    }
    .dropDownCSS{
      max-height: var(--dropDownMaxHeight, 15rem) !important;
      scrollbar-color: #54545429 transparent;
      scrollbar-width: thin;
  
      font-size : var(--optionFontSize);
      color : var(--optionFontColor);
      line-height: var(--optionLineHeight);
    }
  
    .label-div {
      padding: 0.25rem 0.5rem 0 0.25rem;
      z-index: 4 !important;
      width: fit-content !important;
      border-radius: 50%;
      position: var(--labelPosition);
      top: var(--labelTop);
      left: var(--labelLeft);
      background-color: var(--labelBackgroundColor) !important;
      color: var(--labelColor) !important;
  }
  
    .emptyImgPadding{
      padding-left: 1rem;
    }
  
    .option-description{
      display: block;
      margin-top: var(--descriptionTopMargin);
      color: var(--descriptionColor);
      font-size: var(--descriptionFontSize);
    }
  
    .emptyOptions{
      width: 100%;
      padding-block: 0.5rem;
      text-align: center;
      opacity: 0.75;
      
      font-size: var(--optionFontSize);
      color: var(--optionFontColor);
      line-height: var(--optionLineHeight);
    }
  
    .combobox-disabled{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 100;
      backdrop-filter: contrast(0.8) saturate(0);
      background: rgb(236 235 234 / 30%);
      cursor: not-allowed;
      border-radius: var(--inputAreaBorderRadius);
    }