:host{
    --designCurveColor: ;
    --statusIconColor: ;
    --duration: 1s;
}
.mainOuterDiv {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.232); */
    z-index: 9999;
  }
  .popupOuterContainer{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #00000033;

  }
  .popupContainer {
    width: 16rem;
    height: fit-content;
  }
  
  .closeBtnSection {
    background: transparent;
    display: flex;
    justify-content: flex-end;
    padding: 4px;
  }
  .closeBtn{
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover{
      scale: 1.2;
    }
  }
  .popupBody{
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
    /* border: 1px solid var(--designCurveColor); */
    /* box-shadow: 0px 0px 35px 0px var(--designCurveColor); */
    box-shadow: 0px 0px 35px 0px #00000042;
    
  }
  
  .topDesingSection {
    width: 100%;
    min-height: max-content;
    height: 9rem;
    position: relative;
    overflow: hidden;
  
  }
  .curveDesign{
    position: absolute;
    top: -100%;
    left: 0%;
    transform: translate(-5%, 0%);
    width: 110%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--designCurveColor);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2.75rem;
  }
  
  .contentSection {
    width: 100%;
    height: 13.5rem;
    padding: 1rem 1rem 2rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .ballDesignIcon{
    width: 4rem;
    height: 4rem;
    stroke: var(--statusIconColor);
    /* margin-bottom: 1.5rem; */
  }
  
  .toastIcon .ballDesignIcon{
    width: 24px;
    height: 24px;
    stroke: var(--statusIconColor);
  }

  .titleDiv{
    font-size: 21px;
    text-align: center;
    width: 100%;
    margin-bottom: 0.5rem;
    color: var(--statusIconColor);
    /* filter: brightness(0.9); */
  }
  .titleDiv h2{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .messageDiv{
    font-size: 14px;
    text-align: center;
    color: var(--statusIconColor);
    opacity: 85%;
    flex-grow: 1;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .messageDiv p{
    overflow: hidden;
    /* word-break: break-all; */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }  

  /* --- ----- ----- ------ Toast Message CSS ------- ---- ----- ----- */

  .toastOuterContainer{
    position: fixed;
    z-index: 1000;
    top: 6rem;
    left: 50%;
    transform: translate( -50%, 0% );
  }
  .toastContainer {
    position: relative;
    width: 30rem;
    height: 4.5rem;
    background-color: white;
    box-shadow: 0px 0px 35px 0px #00000042;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .padStartSection {
    width: 15%;
    height: 100%;
    overflow: hidden;
  }

  .curveDesign_Toast{
    transform: translate(-35%, -10%);
    width: 120%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--designCurveColor);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    flex-direction: row;
  }

  .contentSection_Toast{
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .closeBtn_Toast{
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover{
      scale: 1.2;
    }
  }

  .contentSection_Toast .titleDiv{
    text-align: left;
    margin-bottom: 0rem;
  }

  .contentSection_Toast .messageDiv{
    text-align: left;
    flex-grow: 0;
  }

  .contentSection_Toast h2{
      display: block;
      overflow: hidden;
      white-space: nowrap;
      word-break: break-all;
      text-overflow: ellipsis;
  }
  .contentSection_Toast p{
    overflow: hidden;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .confirmButtonOption{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
  }
  .confirmBtn{
    width: 9rem;
    border-radius: 8px;
    background: #F7C752;
    cursor: pointer;
    transition: all linear 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;

    /* &:hover{
      scale: 1.2;
    } */
  }
  .confirmBtn svg{
    width: 2rem;
    height: 2rem;
  }
  .confirmBtn path{
    /* fill: #F7C752; */
    fill: white;
  }
  .doneBtn{
    width: 9rem;
    height: 2.5rem;
    border-radius: 8px;
    background: var(--statusIconColor);
    cursor: pointer;
    transition: all linear 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white;
    font-family: 'DM Sans';
  }

  .closeBtnSection_Toast{
    width: 15%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .durationSlider{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 0%;
    height: 4px;
    background-color: var(--designCurveColor);
    animation: slideIn var(--duration) linear 0s 1 forwards;
  }
  @keyframes slideIn {
    0%{ width: 0%;}
    100%{width: 100%; }
  }