.container {
    background-color: white;
    display: flex;
    width: calc(100% + 1.5rem);
    height: calc(100% + 1.5rem);
    margin-left: -0.75rem;
    margin-top: -.75rem;
    background: white;
    position: relative;
    font-family: Helvetica, sans-serif;
}

.backgroundimg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.backgroundimg img {
    height: 100%;
    width: 50%;
    z-index: -1;
}

.content-container {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
}

.left-child-container {
    height: 100%;
    box-sizing: border-box;
    width: 20%;
    text-align: center;
    margin: 0 20px 0 0;
    /* margin: 2% 1%; */
    border-radius: 8px;
    background-image: linear-gradient(to bottom, rgb(205,240,254), rgb(205,255,241) );
    position: relative;
}

.company-info{
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    margin-inline: auto;
}

.right-child-container {
    /* margin: 2% 1%; */
    height: 100%;
    box-sizing: border-box;
    width: calc(80% - 20px);
    border-radius: 8px;
}

.semi-container{
    height: 100%;
    display: flex;
    width: 100%;
}

.heading{
    text-align: center;
    background-image: linear-gradient(to right, rgb(205,239,255), rgb(205,255,241)  );
    font-size: 2rem;
    height: 4.5rem;
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 550;
    border-radius: 8px 8px 0px 0px;
}
/* 
h2{
    padding: 1%;
} */

.integration-options{
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 4.5rem);
    background-color: white;
    border-radius: 0px 0px 8px 8px;
    padding-top: 0.8rem;

}

.logo img{
    margin-block: 5%;
    height: 3rem;
}

.logo {
    height: 10%;
    width: 100%;
}

.switch{
    margin: 14% 0% 0% 12%;
    height: 80%;
    overflow: hidden;
}

.switch p{
    padding: 4% 10%;
    font-size: 1.2rem;
    font-family: Helvetica, sans-serif;
    text-align: left;
    font-weight: 550;

}

.all-cards{
    display: flex;
    height: 30%;
    justify-content: space-between;
    padding-bottom: 0.8rem;
}

/* .all-cards img{
    height: 14vh;
    width: 10vw;
} */

.gc img{
    height: 120px;
    width: 160px;
    /* aspect-ratio: 1.307; */
}

.oc img{
    height: 120px;
    width: 190px;
}

.ac img{
    height: 115px;
    width: 160px;
}

.dc img {
    height: 115px;
    width: 110px;
}

.card {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 0.5rem ;
    border: 1px solid black;
    border-radius: 8px;
    width: calc(25% - 0.5rem);
    align-items: center;
}

.card:hover {
    /* background-color: rgb(243, 238, 238); */
    box-shadow: 0px 0px 10px 0px rgb(142 142 142);
}

.dragparent{
    display: flex;
    width: 45%;
    height: 100%;
    position: relative;
}

.dragbackground{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    border: 2px dashed black;
    border-radius: 8px;
}

.dragbackground img{
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropandstatus{
    text-align: center;
    position: relative;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
}

.dropandstatus svg{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.dropandstatus p{
    position: absolute;
    font-size: 2vh;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.dropstatus{
    width: 100%;
    display: flex;
    height: 70%;
}

.border{
    border: 1px solid black;
    border-radius: 8px;
    width: 100%;
    height: 23%;
}

.status{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.8rem;
    width: 55%;
    height: 100%;
    margin-left: 1rem;

}

.cursor:hover{
    cursor: pointer;
}

.text1{
    border-radius: 8px 0px 0px 8px;
}

.text2{
    border-radius: 8px 0px 0px 8px;
}

.text3{
    border-radius: 8px 0px 0px 8px;
}

.popup-container{
    display: flex;
    width: 100%;
}

.closebar{
    margin-top: 20px;
    margin-right: 20px;
}

.left-popup{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.left-popup img{
    padding-left: 20px;
    margin-top: -44px;
    /* padding-top: 20px; */
    /* padding-bottom: 24px; */
    padding-right: 15px;
    width: 90%;
    height: fit-content;
    box-sizing: border-box;
}


.right-popup{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.right-popup p{
    font-size: 1.5rem;
}

.popupwindow{
    align-items: end;
    width: 50rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    box-sizing: border-box;
    top: -10%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 8px;
}

.right-popup input{
    padding: 0.8rem 0.4rem;
    border-radius: 8px;
    width: 90%;
    color: #424242;
}

.right-popup button{
    margin: 0.2rem 0 2rem 0;
    padding: 0.3rem;
    width: 90%;
    font-size: 1rem;
    background-color: rgb(69, 194, 69) !important;
}

.clipboard{
    padding-right: 3rem !important;
}



.redirect {
    position: relative;
    padding: 0px;
    width: 90%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: end;
}

.redirect .text_field {
    border-radius: 8px;
    width: 100%;
    color: #424242;
}

.redirect .text_field input {
    width: 100%;
}

.redirect .icon-copy {
    position: absolute;
    top: 50%; 
    right: 0.8rem;
    transform: translateY(-30%); /* Center vertically */
    cursor: pointer;
    border: none;
}

.icon-copy svg:active {
    stroke: rgb(202, 202, 202);

}

.googledrive{
    display: flex;
    align-items: center;
}

.googledrive img{
    margin-inline: 24px !important;
}

.onedrive{
    display: flex;
    align-items: center;
}

.dropbox{
    display: flex;
    align-items: center;
}

.dropbox img {
    margin-inline: 27.5px !important;
    height: 70px !important;
    width: 55px !important;
}

.aws{
    display: flex;
    align-items: center;
}

.activeandunauthorize{
    display: flex;
    align-items: center;
    justify-content: center;
}

.border img{
    margin-inline: 20px;
    height: 60px;
    width: 70px;
}

.userdata {
    margin-inline: 20px;
    font-size: medium;
    font-stretch: semi-expanded;
    width: 70%;
}

.active {
    width: 90px;
    padding: 4px;
    background-color: rgb(147,231,174);
    border-radius: 100px;
    margin-inline: 10px;
}

.active p{
    margin-inline: 5px;
    display: inline-block;
}

.Inactive {
    width: 90px;
    padding: 4px;
    background-color: rgba(255, 210, 210, 1);
    border-radius: 100px;
    margin-inline: 10px;
}

.Inactive p{
    margin-inline: 5px;
    display: inline-block;
}

.Inactive .circle {
    width: 10px;
    height: 10px;
    background-color: rgba(228, 50, 50, 1);
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out;
}

.error-border {
    border: 1px solid red !important;
}




.active .circle{
    width: 10px;
    height: 10px;
    background-color: rgba(20, 173, 0, 1);
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out;
}

.unauthorize{
    background-color: rgba(255, 210, 210, 1);
    margin-inline: 10px;
    padding: 10px;
    border-radius: 8px;

    &:hover{
        box-shadow: 0px 0px 10px 0px rgb(142 142 142);
      }
}

.noInt{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.noIntImg{
    width: 30%;
}

.noIntText{
    width: 50%;
}

.noIntText p b{
    font-size: large;
}

.label-float{
    position: relative;
    padding-top: 13px;
  }
  
  .label-float input{
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    min-width: 250px;
    padding: 15px 20px;
    font-size: 16px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance:none;
  }
  
  .label-float input:focus{
    border: 1px solid rgb(0, 174, 255);

  }
  
  .label-float input::placeholder{
  }

  .label-float input::placeholder:focus{
    color:grey;
  }
  
  .label-float label{
    pointer-events: none;
    position: absolute;
    top: calc(50% - 8px);
    left: 15px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-color: white;
    padding: 5px;
    box-sizing: border-box;
    width: 60%;
  }

  .label-float input:required:invalid + label{
    color: red;
  }
  .label-float input:focus:required:invalid{
    border: 1px solid red;
    width: auto;
  }

  .label-float input:required:invalid + label:before{
    content: '*';
  }

  .label-float input:focus + label,
  .label-float input:not(:placeholder-shown) + label{
    font-size: 13px;
    top: 0;
    box-sizing: border-box;
    color: rgb(0, 174, 255);
    width: auto;

  }

  .right-popup p {
    color: #00AEFF;
  }

 
  

@media screen and (min-width: 1460){
    .gc img{
        height: 130px;
        width: 165px;
        margin-inline: 10px;
    }
    
    .oc img{
        height: 130px;
        width: 165px;
    }
    
    .ac img{
        height: 125px;
        width: 162x;
    }
    
    .dc img {
        height: 126px;
        width: 110px;
    }

    .border img{
        margin-inline: 10px;
        height: 60px;
        width: 60px;
    }

    .dropbox img {
        margin-inline: 13.25px !important;
        height: 66px !important;
        width: 55px !important;
    }

    .userdata {
        margin-inline: 10px;
        font-size: small;
        font-stretch: normal;
        width: 70%;
    }
    

}

.limitations {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: larger;
    font-weight: bold;
    border-radius: 8px;
}

@media screen and (min-width: 1300px) and (max-width: 1440px) {

    .popupwindow{
        width: 45rem;
    }

    .gc img{
        height: 110px;
        width: 140px;
    }
    
    .oc img{
        height: 110px;
        width: 165px;
    }
    
    .ac img{
        height: 110px;
        width: 165px;
    }
    
    .dc img {
        height: 105px;
        width: 90px;
    }

    .border img{
        margin-inline: 10px;
        height: 60px;
        width: 60px;
    }

    .dropbox img {
        margin-inline: 14.25px !important;
        height: 67px !important;
        width: 53px !important;
    }

    .googledrive img{
        margin-inline: 10px !important;
        height: 60px;
        width: 60px;
    }

    .userdata {
        margin-inline: 10px;
        font-size: small;
        font-stretch: normal;
        width: 70%;
    }

    .heading {
        font-size: 1.7rem;
    }

    .switch p {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1300px) {
    .gc img{
        height: 90px;
        width: 115px;
    }
    
    .oc img{
        height: 90px;
        width: 145px;
    }
    
    .ac img{
        height: 85px;
        width: 115px;
    }
    
    .dc img {
        height: 90px;
        width: 75px;
    }

    .border img{
        margin-inline: 7px;
        height: 60px;
        width: 60px;
    }

    .dropbox img {
        margin-inline: 11.25px !important;
        height: 67px !important;
        width: 53px !important;
    }

    .googledrive img {
        margin-inline: 7px !important;
    }

    .userdata {
        margin-inline: 10px;
        font-size: smaller;
        font-stretch: normal;
        width: 72%;
    }
    .unauthorize{
        background-color: rgba(255, 210, 210, 1);
        margin-inline: 6px;
        padding: 10px;
        border-radius: 8px;
    }

    .active {
        margin-inline: 7px;
    }

    .heading {
        font-size: 1.5rem;
    }

    .switch p {
        font-size: 0.9rem;
    }
    .popupwindow{
        width: 35rem;
    }
}

@media screen and (max-width: 1100px) {
    .gc img{
        height: 90px;
        width: 115px;
    }
    
    .oc img{
        height: 90px;
        width: 135px;
    }
    
    .ac img{
        height: 85px;
        width: 115px;
    }
    
    .dc img {
        height: 90px;
        width: 80px;
    }

    .border img{
        margin-inline: 4px;
        height: 50px;
        width: 50px;

    }

    .dropbox img {
        margin-inline: 8.275px !important;
        height: 56.28px !important;
        width: 44.52px !important;
    }

    .googledrive img {
        margin-inline: 4px !important;
    }

    .active {
        font-size: smaller;
        width: 80px;
    }

    .Inactive {
        font-size: smaller;
        width: 80px;
    }

    .userdata {
        margin-inline: 8px;
        font-size: smaller;
        font-stretch: normal;
        width: 76%;
    }
    .unauthorize{
        text-align: center;
        background-color: rgba(255, 210, 210, 1);
        width: 80px;
        margin: 2px;
        padding: 4px;
        border-radius: 100px;

    }

    .popupwindow{
        width: 28rem;
    }

    .left-popup{
        display: none;
    }

    .right-popup{
        width: 100%;
        margin-left: 40px;
        gap: 20px;
    }

    .unauthorize svg{
        height: 12px;
        width: 12px;
    }

    .activeandunauthorize{
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }

    .company-info p{
        padding-bottom: 3px;
    }

    .heading {
        font-size: 1.5rem;
    }

    .switch p {
        font-size: 0.9rem;
    }

    
}