:host{

  /* --- --- --- --- Custome combobox css variable --- --- --- ---  */
  --selectedItemBGColor : rgba(0, 174, 255, 0.251);
  --overlayOpacity : 0.25;
  --selecteditemTextColor : black;

  --mainThemeColor : #00aeff;
  --topSection_height : 4.5rem;
  --upperSection_height : 4rem;
}

.mainDiv_Home {
  width: calc(100% + 1.5rem);
  height: calc(100% + 1.5rem);
  margin-left: -0.75rem;
  margin-top: -.75rem;
  background: white;
}
.backDrop{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.outerDiv{
  height: 100%
}
/* ====== ====== ======= Top Section ===== ===== ========== */
.topSection {
  width: 100%;
  padding: 1rem 1.5rem;
}
.topSection_Sub{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  height: var(--topSection_height);
  background: linear-gradient(269.86deg, rgba(0, 174, 255, 0.3) 0%, rgba(0, 255, 186, 0.3) 100%);
}
.topSection h1{
    font-size: 24px;
    font-weight: 700;
}
/* ===== ===== ========== ===== ===== ========== ===== ===== ========== */

.contentSection {
    flex-grow: 1;
    width: 100%;
    height: calc(100% - var(--topSection_height) - 2rem);
    /* padding: 1.5rem 3rem; */
    background : transparent url('/resource/homePageImgs/HomBg.png') 0% 0% no-repeat padding-box;
    background-size: 100%;
}

/* ===== ===== ========== Upper Section  ==== ===== ================= ===== */
.upperSection{
  /* width: 100%; */
  max-width: 100%;
  height: var(--upperSection_height);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem 1.5rem;
}

.createSection{
  min-width: 6.25rem;
  width: 6.25rem;
  height: 100%;
  box-shadow: 0px 0px 15px 0px #00000040;
  border-radius: 0.5rem;  
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

}
.createTemplateBorder{
  padding: 0.5rem;
  border-radius: 50%;
  border: 1px #00000080;
  border-style: dashed;
  transition: all linear 0.2s;

  &:hover{
    scale: 1.1;
  }
}
.createTemplateImg{
  width: 3rem;
  height: 3rem;
}
      /* ----- ------- ------- ------ Option Section ------ ------ ------ ------ ------- */
  .optionSection{
    border-radius: 0.5rem;
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  .optionBtn{
    width: 6.25rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all cubic-bezier(0.4, 0, 1, 1) 0.4s;
    box-shadow: 0px 0px 15px 0px #00000040;
    border-radius: 0.5rem;
  }

  .optionOpeneBtn{
    stroke:var(--mainThemeColor);
    width: 50px;
    aspect-ratio: 1;  
    transition: all linear 0.2s;

    &:hover{
      scale: 1.1;
      filter: brightness(.7);
    }
  }
  .optionCloseBtn{
    /* fill: var(--mainThemeColor); */
    stroke: var(--mainThemeColor);
    stroke-width: 1px;
    width: 20px;
    aspect-ratio: 1;
    transition: all linear 0.2s;

    &:hover{
      scale: 1.1;
      fill:brightness(.7);
    }
  }
  .optionContainer{
    width: 0rem;
    max-width: max-content;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: all cubic-bezier(0.4, 0, 1, 1) 0.4s;

    /* position: absolute; */
    top: 0%;
    left: 100%;
    background: white;
    box-shadow: 15px 0px 15px 0px #00000040;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .optionContainer_Sub{
    width: 65rem;
    max-width: max-content;
    height: 100%;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .showOptionContainer .optionContainer{
    width: 65rem !important;
    opacity: 1;
  }
  .showOptionContainer .optionBtn{
    width: 4.25rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 15px 0px 15px 0px #00000040, -15px 0px 54px 0px #00000040;
  }

   /* -- --- --- --- -- -- -- -- -- Sort Section -- -- -- -- -- -- -- -- -- - -- -- - */
    .sortOption {
      width: fit-content;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      gap: 1rem;
      padding-left: 0.1rem;
    }
    .lableBox{
      border-inline: 1px dashed var(--mainThemeColor);
      padding-inline: 0.25rem;
      width: 2rem;
      height: 100%;
      transform: scale(-1);
    }
    .lableText {
      width: 100%;
      height: 100%;
      text-align: center;
      text-transform: uppercase;
      writing-mode: vertical-rl;
      background: var(--mainThemeColor);
      color: white;
      font-weight: 700;
    }
    .sortSection {
      height: 100%;
      padding-block: 0.25rem;
    }
    .sortFieldDrop {
      margin-bottom: 0.5rem;
      width: 8rem;
    }
    .asc_desc_section {
      display: flex;
      /* gap: 0.5rem; */
      align-items: center;
      justify-content: space-around;
    }
    .asc_descBtn {
      height: 2rem;
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 0.2rem;
      padding: 0.25rem .25rem;
      border: 1px solid var(--mainThemeColor);
      border-radius: 4px;
      background-color: white;
      cursor: pointer;
    }
    .asc_desc_SVG
    {
      width: 0.8rem;
      height: 0.8rem;
      fill: var(--mainThemeColor);
      stroke: var(--mainThemeColor);
    }
    .asc_descText {
      color: var(--mainThemeColor);
      font-size: 10px;
    }
    input[type="radio"]:checked + label .asc_descBtn
    {
      background-color: var(--mainThemeColor);
    }
    input[type="radio"]:checked + label .asc_descText{
      color: white;
    }
    input[type="radio"]:checked + label .asc_desc_SVG{
      fill: white;
      stroke: white;
    }
    /* -- --- --- --- -- -- -- -- -- Sort Section End-- -- -- -- -- -- -- -- -- - -- -- - */

    /* -- --- --- --- -- -- -- -- -- Filter Section-- -- -- -- -- -- -- -- -- - -- -- - */
    .filertOptions{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
    }
    .filertOptions_Sub{
      height: 100%;
    }
    .filertOptions_Sub2{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
    }
    .objectFilterSection{
      width: 8rem;
      height: 100%;
      padding-block: 0.25rem;
    }
    .tempFilterSection{
      padding-inline: 1rem;
      border-inline: 1px dashed var(--mainThemeColor);
    }
    .dateFilterSection{
      width: 20rem;
      height: 100%;
      padding-block: 0.25rem;
      display: flex;
      flex-direction: column;
    }
    .dateSection{
      display: flex;
      justify-content: space-between;
      gap: 0.25rem;
    }
    .rangeSelection{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .fromTo{
      width: 5.5rem;
      /* override standar css of date picker */
      --lwc-colorTextLabel : black;
      --lwc-spacingXLarge : 0.5rem;
      --lwc-spacingMedium : 0.5rem;
      --lwc-spacingSmall: 0.5rem;
      --lwc-squareIconMediumContentAlt : 0px;
      --lwc-fontSize3 : 12px;

      position: relative;
    }
    .errorBorder{
      border-color: rgb(238 72 65);
      box-shadow: rgb(243 82 76) 0px 0px 2px 1px;
      border-radius: 4px;
    }
    .errorText{
      color: red !important;
    }

    .saveSection{
      /*  --- ---- ---- Overside standard button CSS --- ---- --- */
      --slds-c-button-brand-color-background : var(--mainThemeColor);
      --slds-c-button-brand-color-border: var(--mainThemeColor);
      --slds-c-button-brand-color-background-hover: var(--mainThemeColor);
      --slds-c-button-brand-color-border-hover: var(--mainThemeColor);
    }

    .refrenceTimeSection{
      width: 100%;
      flex-grow: 1;
      overflow-x: hidden;
      display: flex;
      gap: 0.25rem;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
    }

    .refrencePill{
      width: max-content;
      max-width: 6rem;
      padding-inline: 2px;
      height: 1.25rem;
      font-size: 9px;
      color: var(--mainThemeColor);
      border: 0.6px solid var(--mainThemeColor);
      border-radius: 4px;
      transition: all linear 0.2s;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-weight: 700;
    }

    .clear_refrencePills{
      width: max-content;
      padding-inline: 2px;
      height: 1.25rem;
      border: 0.6px solid #ff4444;
      border-radius: 4px;
      transition: all linear 0.2s;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      cursor: pointer;
    }

    .clear_refrencePills svg{
      width: 18px;
      height: 18px;
      fill: #ff4444;
    }

    input[type="radio"]:checked + label .refrencePill
    {
      background-color: var(--mainThemeColor);
      color: white;
      border-color: var(--mainThemeColor);
    }

    /* ----- ------- ------- ------ ------ ------ ------ ------ -------  */
    /* ----- ------ ------- ------- --- Search Section --------------- ------- ---------- */
    .searchSection_Variables{
      --seachIcon_Width: 52px;
      --seachIcon_Height: 52px;
    }
    .searchSection{
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex-grow: 1;
      /* width: 10rem; */
      height: 100%;
    }
    .seachContainer{
    /* width: 14rem; */
    width: 100%;
    max-width: 20rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 15px 0px #00000033;
    padding-inline: .5rem;
    }
    .iconSection{      
      min-width: var(--seachIcon_Width);
      width: var(--seachIcon_Width);
      height: var(--seachIcon_Height);
      transition: all linear 0.4s;
    }
    .iconSection path{
      stroke: #ABB7C2;
    }
    .searchInput{
      width: 100%;
      min-width: calc(100% - var(--seachIcon_Width) -2px) ;
      max-width: 100%;
      height: 2.25rem;
      border: none;
      flex-grow: 1;
      transition: all linear 0.4s;
    }
    .searchInput::placeholder{
      font-size: 18px;
      color: #ABB7C2;
      font-family: Poppins;
      line-height: 26px;
    }
    .searchInput:focus-visible{
      /* width: 20rem; */
      outline: none;
      border: none;
    }
    .seachContainer .searchInput:focus-visible {
      box-shadow: none;
    }
    
    /* ----- ------ ------- ------- --- Search END Section --------------- ------- ---------- */

/* ===== ===== ========== ===== ===== ========== ===== ===== ========== ===== ===== ==========  */

 /* ******** ********** ********* Template List Section CSS  ******** ********** ********* */
.templateListSection {
  height: calc(100% - var(--upperSection_height) - 2rem);
}
.template_Sub{
  height: 100%;
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin-top: 1rem;
  overflow-y: auto;
  scrollbar-color: transparent transparent;
  scrollbar-width : none
}
.templateCardContainer {
  width: 100%;
  height: 6.25rem;
  box-shadow: 0px 0px 15px 0px #00000040;
  border-radius: 8px;
  background-color: white;
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 1rem; */
  overflow: hidden;
}
.templateCardContainer:last-child{
  margin-bottom: 0rem;
}
  .tempNumerSec {
    width: 4.25rem;
    height: 100%;
    overflow: hidden;
  }
    .curveDesign{
      transform: translate(-60%, -10%);
      width: 185%;
      aspect-ratio: 1;
      border-radius: 50%;
      background: linear-gradient(269deg, #00AEFF 0%, #003A55 58%, #FFFFFF 100%);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 1.5rem;
      flex-direction: row;
      color: white;
    }
  .tempDetailSection {
    height: 100%;
    width: 80%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .tempDeatilFields {
    display: grid;
    grid-template-columns: 60% 40%;
    row-gap: 0.5rem;
  }
    .tempName{
      width: 100%;
      overflow: hidden;
      font-size: 20px;
      font-weight: 700;
    }
    .tempName h1{
      max-width: 100%;
      overflow: hidden;
      white-space: pre;
      word-wrap: break-word;
      text-overflow: ellipsis;
    }
    .tempField{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;
      font-size: 14px;
    }
    .fieldValue{
      white-space: nowrap;
      overflow: hidden;
      word-wrap: break-word;
      text-overflow: ellipsis;
    }
  .tempBtnSection {
    width: max-content;
    height: 100%;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
    .tempToggle {
      width: fit-content;
      height: max-content;
      position: relative;
      overflow: hidden;
    }
    .toggleDiv{
      width: 7rem;
      height: 1.75rem;
      padding: 0.25rem;
      border-radius: 32px;
      background-color: #FF310B;
      transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
      cursor: pointer;
    }
    .toggleBtnBg{
      height: 100%;
      width: 100%;
      position: relative;
    }
    .toggleBtnBg::before{
      position: absolute;
      top: 0px;
      left: auto;
      transform: translateX(0%);
      right: 0% !important;
      content: "";
      height: 100%;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: #fff;
      transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    }
    .StatusText{
      width: 200%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    }
    .StatusText span{
      width: 50%;
      height: 100%;
      color: white;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
    .checkBox.checked + label .toggleBtnBg::before{
      transform: translateX(100%);
      right: 100% !important;
    }
    .checkBox.checked + label .StatusText{
      transform: translateX(0%);
    }

    .checkBox.checked + label .toggleDiv{
      background-color: #14AD00;
    }
  
    .tempActionBtnSection {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: max-content;
      align-items: center;
    }
    .previewBtn,
    .editBtn,
    .DeleteBtn{
      cursor: pointer;  
      transition: all linear 0.1s;
      
      &:hover{
        scale: 1.2;
      }
    }
      .previewBtn {
        width: 24px;
        height: 24px;
        
      }
      .editBtn{
        width: 24px;
        height: 24px;
      }
      .editBtn path,
      .DeleteBtn path{
        fill : #747474;
        cursor: pointer;
      }
      .DeleteBtn{
        width: 19px;
        height: 24px;
      }
/* ******** ********** ********* Template List Section CSS -- END -- ******** ********** ********* */



/* @media only screen and (max-width: 1500px){
  .showOptionContainer .iconSection{
    min-width: 0px;
  }
  .showOptionContainer .searchInput{
    min-width: 100%
  }
} */


/* ======================================= version 2 ================================================== */
.version2 .upperSection{
  max-width: 100%;
  height: 4rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem 1.5rem;
}
.version2 .createSection{
  min-width: 4rem;
  width: 4rem;
}
.version2 .createTemplateImg{
  width: 1.75rem;
  height: 1.75rem;
}
.version2 .createSection{
  min-width: 4rem;
  width: 4rem;
}
.version2 .optionOpeneBtn{
  stroke: var(--mainThemeColor);
  width: 2rem;
  aspect-ratio: 1;
  transition: all linear 0.2s;
}
.version2 .optionBtn{
  width: 4rem;
}
.version2 .searchSection{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}
.version2 .optionContainer{
  width: 30rem;
  max-width: max-content;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: all cubic-bezier(0.4, 0, 1, 1) 0.4s;
  position: absolute;
  top: 0%;
  left: 125%;
  transform: translateY(20px);
  background: white;
  box-shadow: 0px 0px 26px 0px #00000040;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-radius: 0.5rem;

}
.version2 .optionContainer::after{
  position: absolute;
  top: 3%;
  right: 95%;
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 6px 12px 6px 0;
  border-color: transparent #ffffff transparent transparent;
  transition: all cubic-bezier(0.4, 0, 1, 1) 0.4s;
}
.version2 .optionContainer_Sub{
  width: 30rem;
  max-width: max-content;
  height: max-content;
  padding: 0.5rem 1rem;
  display: flex;
  border-radius: 6px;
  gap: 1rem;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
.version2 .showOptionContainer .optionContainer {
  width: 30rem !important;
  height: 32.125rem !important;
  opacity: 1;
  transform: translateY(0px);
}
.version2 .showOptionContainer .optionContainer::after{
  right: 100%;
}
.version2 .showOptionContainer .optionBtn{
  width: 4rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 0px 0px 25px 0px #00000040, -15px 0px 54px 0px #00000040;
}

 /* -- --- --- --- -- -- -- -- -- Sort Section -- -- -- -- -- -- -- -- -- - -- -- - */
 .version2  .sortOption {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 0.1rem;
  }
  .version2  .lableBox{
    border-block: 1px dashed var(--mainThemeColor);
    padding-inline: 0px;
    border-inline: none;
    width: 100%;
    height: fit-content;
    transform: none;
    padding-block: 0.25rem;
  }
  .version2 .lableText {
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    writing-mode: inherit;
    background: var(--mainThemeColor);
    color: white;
    font-weight: 700;
  }
  .version2  .sortSection {
    height: min-content;
    width: 100%;
    padding-block: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1rem;
  }
  .version2 .sortFieldDrop {
    width: 10rem;
    margin-bottom: 0px;
  }
  .version2 .asc_desc_section {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    align-items: center;
  }
  .version2 .asc_descBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    padding: 0.25rem .25rem;
    border: 1px solid var(--mainThemeColor);
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
  }
  .version2 .asc_desc_SVG
  {
    width: 1rem;
    height: 1rem;
    fill: var(--mainThemeColor);
    stroke: var(--mainThemeColor);
  }
  .version2 .asc_descText {
    color: var(--mainThemeColor);
    font-size: 12px;
  }
  input[type="radio"]:checked + label .asc_descBtn
  {
    background-color: var(--mainThemeColor);
  }
  input[type="radio"]:checked + label .asc_descText{
    color: white;
  }
  input[type="radio"]:checked + label .asc_desc_SVG{
    fill: white;
    stroke: white;
  }
  /* -- --- --- --- -- -- -- -- -- Sort Section End-- -- -- -- -- -- -- -- -- - -- -- - */

  /* -- --- --- --- -- -- -- -- -- Filter Section-- -- -- -- -- -- -- -- -- - -- -- - */
  .version2 .filertOptions{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .version2 .filertOptions_Sub{
    height: 100%;
    width: 100%;
  }
  .version2 .filertOptions_Sub2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
  }
  .version2 .objectFilterSection{
    width: 10rem;
    height: 100%;
    padding-block: 0.25rem;
  }
  .version2 .tempFilterSection{
    padding-inline: 0rem;
    width: 100%;
    padding-block: 0.5rem;
    border-inline: none;
    border-block: 1px dashed var(--mainThemeColor);
  }
  .version2 .dateFilterSection{
    width: 100%;
    height: 100%;
    padding-block: 0rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .version2 .dateSection{
    display: flex;
    justify-content: flex-start;
    gap: 0.25rem;
  }
  .version2 .dateCombo{
    width: 10rem;
  }
  .version2 .rangeSelection{
    display: flex;
    justify-content: space-between;
    gap: 0.25rem;
  }

  .version2 .fromTo{
    width: 5.5rem;
    /* override standar css of date picker */
    --lwc-colorTextLabel : black;
    --lwc-spacingXLarge : 0.5rem;
    --lwc-spacingMedium : 0.5rem;
    --lwc-spacingSmall: 0.5rem;
    --lwc-squareIconMediumContentAlt : 0px;
    --lwc-fontSize3 : 12px;

    position: relative;
  }
  .version2 .errorBorder{
    border-color: rgb(238 72 65);
    box-shadow: rgb(243 82 76) 0px 0px 2px 1px;
    border-radius: 4px;
  }
  .version2 .errorText{
    color: red !important;
  }

  .version2 .saveSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    /*  --- ---- ---- Overside standard button CSS --- ---- --- */
    --slds-c-button-brand-color-background : var(--mainThemeColor);
    --slds-c-button-brand-color-border: var(--mainThemeColor);
    --slds-c-button-brand-color-background-hover: var(--mainThemeColor);
    --slds-c-button-brand-color-border-hover: var(--mainThemeColor);
  }

  .version2 .refrenceTimeSection{
    width: 100%;
    flex-grow: 1;
    overflow-x: hidden;
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }

  .version2 .refrencePill{
    width: max-content;
    max-width: 6rem;
    padding-inline: 2px;
    height: 1.25rem;
    font-size: 9px;
    color: var(--mainThemeColor);
    border: 0.6px solid var(--mainThemeColor);
    border-radius: 4px;
    transition: all linear 0.2s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  }

  .version2 .clear_refrencePills{
    width: max-content;
    padding-inline: 2px;
    height: 1.25rem;
    border: 0.6px solid #ff4444;
    border-radius: 4px;
    transition: all linear 0.2s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
  }

  .version2 .clear_refrencePills svg{
    width: 18px;
    height: 18px;
    fill: #ff4444;
  }

  input[type="radio"]:checked + label .refrencePill
  {
    background-color: var(--mainThemeColor);
    color: white;
    border-color: var(--mainThemeColor);
  }

  .emptyStateDiv{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .emptyStateImg{
    width: 25%;
  }
  .emptyStateText{
    font-size: 22px;
    color: #00aeff;
    /* text-shadow: 0 0 19px #888888; */
    margin-top: 1rem;
    font-family: 'DM Sans';
  }