:host {
    --background-image-url: 'default.jpg';
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-div {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    width: 66%;
    height: fit-content;
    background-color: white;
    background-image: var(--background-image-url);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.close-div {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    cursor: pointer;
}

.close-div svg:hover{
    width: 1.563rem;
    height: 1.563rem;
    transition: all 0.1s;
}

.image-div {
    padding: 0.625rem;
    width: 50%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.form-div {
    position: relative;
    width: 50%;
    padding: 6.5rem 2.5rem 6.5rem 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.25rem;
}

.title-div {
    width: 100%;
    font-size: 1.625rem;
    text-align: start;
    font-weight: 700;
    position: absolute;
    top: 3.125rem;
    left: 1.25rem;
    color: #00AEFF;
}

.label-float,
.select-label-float {
    position: relative;
    width: 100%;
}

.label-float input {
    border: 0.0625rem solid black;
    border-radius: 0.5rem;
    outline: none;
    width: inherit;
    padding: 0.9375rem 1.25rem;
    font-size: 1rem;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.label-float input:focus {
    border: 0.0625rem solid #00AEFF;
}

.label-float label {
    /* font-size: 1rem; */
    pointer-events: none;
    position: absolute;
    /* top: calc(50% - 1.1rem); */
    left: 0.9375rem;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    background-color: white;
    padding: 0.3125rem;
    box-sizing: border-box;
    border-radius: 50%;
    font-size: 0.8125rem;
    top: -0.875rem;
    color: #00AEFF;
}

.select-label-float select {
    border: 0.0625rem solid black;
    border-radius: 0.5rem;
    outline: none;
    width: 100%;
    max-width: 100%;
    padding: 0.8125rem 1.25rem;
    font-size: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    background-image: url('data:image/svg+xml;utf8,<svg width="16" height="8" viewBox="0 0 16 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0L8 8L16 0L0 0Z" fill="black"/></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 0.625rem) center;
}

.select-label-float select:focus {
    border: 0.0625rem solid #00AEFF;
}

.select-label-float label {
    pointer-events: none;
    color: #00AEFF;
    position: absolute;
    left: 0.9375rem;
    background-color: white;
    padding: 0.3125rem;
    box-sizing: border-box;
    font-size: 0.8125rem;
    top: -0.875rem;
    border-radius: 50%;
}

.error-border {
    border: 0.0625rem  solid red !important;
}

.error-label{
    color: red !important;
}

/* .drag-drop-div {
    width: 100%;
}

.drag-drop-div .row {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.drag-drop-div .row .column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    position: relative;
} */

/* .num-input{
    text-align: center;
} */

/* .minus1, .plus1, .minus2, .plus2{
    position: absolute;
    z-index: 1;
    cursor: pointer;
    width: 1.25rem;
    height: 1.25rem; 
    border: 0.0625rem black solid;
    border-radius: 0.25rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.minus1{
    position: absolute;
    top: 0.9375rem;
    left: 0.9375rem;
    
}

.plus1 {
    top: 0.9375rem;
    right: 0.9375rem;
}
.minus2 {
    bottom: 0.9375rem;
    left: 0.9375rem;
}

.plus2 {
    bottom: 0.9375rem;
    right: 0.9375rem;
} */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/* .preview-div {
    padding: 0.3125rem;
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-evenly !important;
    gap: 0.3125rem !important;
    border: 0.0625rem solid black;
    border-radius: 0.5rem;
    flex-direction: row !important;
    flex-wrap: wrap;
} */

/* .tabel-cell {
    width: 25%;
    height: 1.125rem;
    border-radius: 0.125rem;
} */

/* .selected-cell {
    background: #4f96666b;
    border: 0.0625rem solid #4f96666b;
}

.unselected-cell {
    border: 0.0625rem dashed #4f96666b;
} */

.check-box{
    display: flex;
    margin-bottom: 1rem;
}

.save-div {
    width: 100%;
    position: absolute;
    bottom: 2.5rem;
}

.save-btn {
    cursor: pointer;
    background: #00AEFF;
    color: white;
    border: none;
    border-radius: 0.5rem;
    width: 50%;
    font-size: 1rem;
    height: 2.5rem;
}

.save-btn:hover {
    background-color: #008eed;
}

/* .bt-cover{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: absolute;
    bottom: 2.5rem;
}
.clone-bt{
    cursor: pointer;
    background: #00AEFF;
    color: white;
    border: none;
    border-radius: 0.5rem;
    width: 40%;
    font-size: 1rem;
    height: 2.5rem;
} */

.text-box{
    width: 100%;
    display: flex;
}

.input-cover{
    width: 100%;
}

.input-height{
    height: 46px;
}

@media only screen and (min-width: 48rem) and (max-width: 64rem) {
    .image-div{
        display: none;
    }
    .form-div{
        width: 90%;
    }

    .close-div{
        right: 0;
    }
}

@media only screen and (min-width: 84.375rem) and (max-width: 106.25rem) {
    .main-div{
        width: 50%;
    }
}

@media only screen and (min-width: 106.25rem) {
    .main-div{
        width: 40%;
    }
}