/* --- ---- Generate Child Record Table Popup CSS --- ---- ---- */
.genChildTablePopup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .genChildTablePopup_sub{
    width: 80%;
    height: 95%;
    position: relative;
    border-radius: 6px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .genChildHader{
    height: 5rem;
    width: 100%;
    border-bottom: 1px solid rgb(9 175 255);
    background: white;
    padding-inline: 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: all linear 0.2s;
  }
  .genChilTitle{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    flex-grow: 1;
    color: #00aeff;
    /* text-transform: capitalize; */
  }
  .closeGenChildTableBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    cursor: pointer;
  }
  .closeGenChildTableBtn svg{
    width: 18px;
    height: 18px;
  }
  .closeGenChildTableBtn:hover{
    scale: 1.1;
  }
  .closeGenChildTableBtn:hover path{
    fill: #da0000;
    stroke: #da0000;
  }
  .childEditCsvComp{
    width: 100%;
    /* height: calc(100% - 10rem); */
    flex-grow: 1;
    overflow: hidden;
    padding-block: 1rem;
    background: white;
  }
  .genChildFooter{
    min-height: 5rem;
    height: max-content;
    max-height: 15rem;
    width: 100%;
    border-top: 1px solid rgb(9 175 255);
    background: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .generatedTable{
    padding-block: 1rem;
    position: relative;
    flex-grow: 1;
  }
  .ChildTablePlaceholder{
    font-size: 16px;
    color: rgb(55, 55, 55);
  }
  .generatedTable table{
    width: 100% !important;
    border-collapse: collapse !important;
    table-layout: fixed !important;
  }
  .childTableFrame{
    padding-top: 0 !important;
  }
  .childTableArea{
    max-width: 100% !important;
  }
  .childTableEditable{
    min-height: 5rem !important;
    padding: 16px 67px  !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 8px -2px, rgba(0, 0, 0, 0.3) 0px 0px 4px -3px !important;
  }

  .ChildTableOptions{
    min-width: 12rem;
    padding-inline: 1rem;
    height: 100%;
    border: 1px solid #02afff;
    border-radius: 6px;
    box-shadow: rgb(77 175 255) 0px 0px 2px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .srNoOption{
    width: 100%;
    height: max-content;
    padding-block: 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .srNoOption_label{
    flex-grow: 1;
    margin-bottom: 0.25rem;
  }
  .srNoOption_toggel{
    margin-right: 1rem;
  }
  .copyButton{
    width: 100%;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 0.25rem;
    cursor: pointer;
    
    /* background: #02afff; */
    background: linear-gradient(to right, #02afff 40%, #00e79c 48%, #00e79c 52%, #02afff 60%);
    background-size: 500% 100%;
    background-position-x: left;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .copyButton.copied{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    animation: copiedAnimation 1s linear 0s 1 forwards normal;
  }
  @keyframes copiedAnimation {
      0%{
        background-size: 100% 100%;
      }
      35%{
        background-size: 2500% 100%;
      }
      90%{
        /* background-size: 1500% 100%; */
      }
      100%{
        /* background: rgb(241 241 241 / 82%); */
      }
  }
  .copyButton:disabled{
    background: rgb(214 214 214);
    box-shadow: none;
    color: #323232;
    cursor: not-allowed;
    border: 1px solid #cacaca;
  }
  .copyButton svg{
    width: 1.5rem;
    height: 1.5rem;
    fill: white;
  }
  .copyButton_label{
    color: white;
    font-size: 15px;
    font-family: var(--ff_Montserrat);
  }
  /* --- ---- Generate Child Record Table Popup CSS -- END --- --- ---- ---- */