template{
    position: relative;
}

c-spinner{
    z-index: 100000;
}

/* Tab Section */
.tempToggle {
    width: fit-content;
    height: max-content;
    position: relative;
    overflow: hidden;
    left: calc( 100% - 7rem );
}
.toggleDiv{
    width: 7rem;
    height: 1.75rem;
    padding: 0.25rem;
    border-radius: 32px;
    /* background-color: #FF310B; */
    background-color: #adadad;
    transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    cursor: pointer;
}
.toggleBtnBg{
    height: 100%;
    width: 100%;
    position: relative;
}
.toggleBtnBg::before{
    position: absolute;
    top: 0px;
    left: auto;
    transform: translateX(0%);
    right: 0% !important;
    content: "";
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}
.StatusText{
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}
.StatusText span{
    width: 45%;
    height: 100%;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    font-family: Bahnschrift, 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    user-select: none;
    line-height: 22px;
    letter-spacing: 0.5px;
}
.checkBox:checked + label .toggleBtnBg::before{
    transform: translateX(100%);
    right: 100% !important;
}
.checkBox:checked + label .StatusText{
    transform: translateX(0%);
}

.checkBox:checked + label .toggleDiv{
    /* background-color: #14AD00; */
    background-color: #00aeff;
}

.homeBtn{
    margin: 0 1rem;
    cursor: pointer;
}
.homeBtn svg{
    width: 20px;
    height: 20px;
}
.homeBtn path{
    fill: #003b57;
}

/* Edit Template Tab */

.main-div{
    width: calc(100% + 1.5rem);
    height: calc(100% + 1.5rem);
    margin-left: -0.75rem;
    margin-top: -0.75rem;
    background-color: white;
    padding: 1rem;
    overflow-y:scroll;
    scrollbar-width: none;
    overflow-x: hidden;
    background-image: url(/resource/homePageImgs/HomBg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-flex-div{
    display: flex;
    flex-direction: row;
    height: calc(100% - 5rem);
}

/* .header{
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    height: 4rem;
    display: flex;
    background-color: white;
    background: linear-gradient(90.18deg, rgba(0, 255, 186, 0.3) 0%,rgba(0, 174, 255, 0.3) 100%);
    color: black;
}

.heading{
    font-size: 1.125rem;
    font-weight: 700;
} */

/* Tabs Section */

.tabSection{
    width: calc(100% + 2rem);
    height: 2.5rem;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
    background: linear-gradient(269.86deg, rgb(173 229 255) 0%, rgb(174 255 233) 100%);
    position: relative;
    user-select: none;
}

.tabSection_sub{
    width: fit-content;
    /* background: white; */
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 10;
    /* border-bottom: 1px solid #00aeff; */
}
.tabSection_sub:last-child{
    flex-grow: 1;
}
.tab{
    width: fit-content;
    min-width: 7rem;
    height: 100%;
    padding: 0.25rem 1.5rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: #595959;
    border-bottom: 2px transparent solid;
    cursor: pointer;
    background: transparent;
    transition: all linear 0.2s;
    
    &:hover{
    color: black;
    background: linear-gradient(0deg, #00aeff27 0%, transparent 117%);
    border-bottom: 2px #00aeff8a solid;
    }
}
.active-tab{
    /* background: linear-gradient(0deg, #00aeff 3%, #00aeff3b 0%, transparent 117%) !important; */
    border-bottom: 2px #00aeff solid !important;
    color: black;
    transition: all linear 0.2s;
}
.tab svg, .TemplateName svg{
    width: 16px;
    height: 16px;
    fill: #595959;
}

.active-tab svg, .TemplateName svg{
    fill: black;
}
.active-tab-bar{
    width: 0%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    /* background: linear-gradient(0deg, #00aeff 3%, #00aeff3b 0%, transparent 117%); */
    background: linear-gradient(0deg, #00aeff 3%, rgb(0 174 255 / 17%) 0%, rgb(0 255 186 / 20%) 100%);
    border-bottom: 2px solid #00aeff;
    transition: all linear 0.2s;
  }

.TemplateName {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: flex-end;
    gap: 0.4rem;
    margin-right: 1rem;
    padding: 0.3rem;
    border-radius: 6px;
    margin-left: auto;
    backdrop-filter: blur(13px);
    background: linear-gradient(93deg, rgb(199 255 242 / 57%) 0%, rgb(207 244 255) 100%);
    box-shadow: rgb(0 49 81 / 22%) 0px 0px 3px 0px, rgb(148 148 148 / 15%) 0px 0px 0px 1px;
}
  
.main-fields-div{
    width: 40%;
    padding: 0 1.25rem;
    height: calc( 100% - 2rem );
}

.selected-count{
    min-width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-line{
    width: 0.125rem;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgb(175 175 175) 18%, rgb(106 106 106) 50%, rgb(175 175 175) 82%, rgba(255, 255, 255, 0) 100%);
    border-radius: 0.5rem;
    height: 100%;
}

.main-config-div{
    width: 60%;
    height: calc( 100% - 4rem );
    overflow-y: scroll;
}

.fields-div{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    padding-top: 1rem;
}

.labels{
    color: #444444;
    width: 100%;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.313rem;
    user-select: none;
}


/* .available-div{
    height: 45%;
} */
/* 
.selected-div{
    height: 45%;
} */


.selection-div{
    height: 13rem !important;
    /* height: calc( 100% - 5rem); */
    width: 100%;
    overflow-y: scroll;
    border-radius: 0.5rem;
    text-align: center;
    background-color: white;
    /* background: #c2e2ff9e; */
    -webkit-box-shadow: 0 0 5px 1px lightgray;
    -moz-box-shadow: 0 0 5px 1px lightgray;
    box-shadow: 0 0 5px 1px lightgray;
}

.selection-div-full-height{
    height: 100% ;
}

.selection-include-btn-div{
    height: 13rem !important;
    margin-top: 0.625rem;
    display: flex;
    overflow-y: hidden;
    border-radius: 0.5rem;
    text-align: center;
    background-color: white;
    background-color: #e5f4ff;
    -webkit-box-shadow: 0 0 5px 1px lightgray;
    -moz-box-shadow: 0 0 5px 1px lightgray;
    box-shadow: 0 0 5px 1px lightgray;
}

.search-all-fields-div{
    display: flex;
    padding: 0 0 0.5rem 0;
    gap: 0.5rem;
}

.search-field-div{
    flex-grow: 1;
    position: relative;
}

.object-select-div{
    border-radius: 0.5rem;
    box-shadow: 0 0 5px 1px lightgray;
}

.field-search-input{
    width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    padding-left: 2.4rem;
    -webkit-box-shadow: 0 0 5px 1px lightgray;
    -moz-box-shadow: 0 0 5px 1px lightgray;
    box-shadow: 0 0 5px 1px lightgray;
}

.field-search-input:focus{
    border: #00AEFF 0.063rem solid;
}

.field-search-input:focus-visible{
    outline: none;
}

.search-img{
    position: absolute;
    border-radius: 0.5rem 0 0 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

li{
    margin: 0.625rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    transition: all 0.2s ease-in-out;
    height: 40px;
    box-shadow: 0 0 5px 0 lightgray;
}

li:hover{
    background: #00aeff2b;
}

.selected-item {
    background: #00aeff94 !important;
    color: black;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.813rem;
    margin-top: 1rem;
}

.column-buttons{
    flex-direction: column;
    gap: 0;
    padding: 0.313rem 1rem;
    margin: 0;
    justify-content: space-around;
}

.arrow-btn {
    width: 3rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: #00AEFF;
    /* padding: 0.5rem; */
    cursor: pointer;
}

.bold-text{
    font-weight: 700;
    user-select: none;
    font-size: 1rem;
}

.title-div{
    width: 100%;
    background: #00AEFF;
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.313rem;
    font-weight: 700;
    font-size: 1.1rem;
    color: white;
    user-select: none;
}

.title-div button{
    float: right;
    background: white;
    color: #00AEFF;
    border: none;
    box-shadow: inset 0 0 2px 0px gray;
    width: fit-content;
    font-size: 12px;
    border-radius: 0.3rem;
    margin: 3px;
    font-weight: 500;
}

.title-div button svg{
    width: 15px;
    height: 15px;
    padding: 0 0 3px 0;
}

.btn-div{
    position: absolute;
    width: 60%;
    bottom: 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.basic-details-btn-div{
    width: calc( 100% - 2rem );
}

.save-button, .cancel-button, .reset-button, .validate-button{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    background-color: #00AEFF;
    width: 9.375rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    align-items: center;
    color: white;
    user-select: none;
}
button:hover{
    background-color: #008eed;
}


.disabled-button{
    background-color: lightgray;
    cursor: not-allowed;
}

.disabled-button:hover{
    background-color: lightgray;
}

.delete-btn, .add-btn {
    min-height: 2.5rem;
    min-width: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    background-color: White;
    align-items: center;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0 5px 0 lightgray;
}

.add-btn{
    margin: 5px;
    user-select: none;
}

.delete-btn:hover{
    background-color: #ff9d9dc6;
}
.add-btn:hover{
    background-color: #c2ffed9e;
}

.filter-div, .sort-div, .limit-main-div, .filter-logic-div{
    padding: 0 1.25rem;
    width: 100%;
}

.filter-row, .sort-row, .logic-div, .limit-div{
    display: flex;
    margin: 0.625rem auto;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
    background-color: #d5ebff;
    padding: 0.313rem;
    border-radius: 0.5rem;
}

.all-filters-rows, .all-sorts-rows {
    background-color: #d5ebff;
    padding: 0.313rem;
    border-radius: 0.5rem;
    margin: 0.625rem 0;
}

.filter-row, .sort-row{
    background: transparent;
    margin: 0;
}

.logic-div, .limit-div{
    padding: 0.625rem;
}

.logic-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
}

.logic-flex-1{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 0.625rem;
}

.error-div{
    color: red;
    padding-top: 0.625rem;
}

.sort-order{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.25rem;
}

.selected-sort-order{
    border:0.063rem solid rgb(0, 174, 255) !important;
    background-color: white !important;
}

.sort-btn{
    background-color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 0.063rem transparent solid;
}

.sort-btn:hover {
    background-color: #00aeff2b;
}

.filter-index-div, .sort-index-div{
    min-height: 2.5rem;
    min-width: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    background-color: #00aeff6b;
    border-radius: 0.5rem;
    line-height: 2.5rem;
    user-select: none;
}

.error-in-row{
    background-color: #ff9d9dc6 !important;
}

.error-in-input{
    --slds-c-input-color-border : red !important;
}

.error-in-input:focus{
    --slds-c-input-color-border : red !important;
}

.sort-btn svg{
    margin: 0.438rem;
}

.field-select, .logic-select-div{
    width: calc( 30% - 3.75rem );
}

.logic-select-div{
    width: calc(30% - 0.625rem);
}

.field-select-full-width{
    width: 100%;
}

.limit-toggle-div{
    position: relative;
    /* width: 10%; */
}

.toggle-label{
    position: absolute;
    font-size: 0.813rem;
    color: #00AEFF;
    z-index: 1;
    text-wrap: nowrap;
    top: -0.813rem;
    left: 0;
}
/* .toggle-limit{
    margin-top: 0.313rem;
} */

/* .limit-input-div{
    width: 10%
} */


.operator-select{
    width: 20%;
}

.custom-logic-div{
    display: flex;
    /* flex-direction: row;
    justify-content: center;
    gap: 1.25rem; */
    width: 70%;
}

.logic-string-input{
    width: 100%;
}

.value-select{
    width: 40%;
}

.picklist-input-div, .simple-input-div{
    position: relative;
    width: 40%;
}

.select-predefined-option {
    /* visibility: visible; */
    position: absolute;
    width: 100%;
    background: white;
    border-radius: 0.5rem;
    z-index: 11;
    margin: 2px 0 0 0;
    overflow: auto;
    box-shadow: 0 2px 3px 0 #d4d4d4;
    padding: 0.125rem 0;
    max-height: 15rem;
}
.select-predefined-option-li{
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    background-color: white;
    height: 2.25rem;
    padding-left: 1.5rem;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
}

.select-predefined-option-li:hover{
    background: #00aeff2b !important;
}

.backDrop{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.dont-display-div{
    display: none;
}


/* List View Popup */
.section-div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-list-view-div{
    width: 60%;
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem;
    background-image: url(/resource/homePageImgs/HomBg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.show-list-view-div .search-field-div{
    margin: 0.5rem 0;
}

.list-view-selection-div{
    background-color: #d5ebff;
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    margin: 0 0 1rem 0;
    height: 17rem;
}
.list-view-selection-div .select-predefined-option{
    position: unset;
    margin: 0.3rem 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-view-selection-div .select-predefined-option-li{
    display: block;
    cursor: pointer;
    background-color: white;
    height: 2.25rem;
    padding: 0.5rem 0 1.5rem 1.5rem;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.list-view-selection-div .select-predefined-option li:hover{
    background: none !important;
}
.no-results {
    text-align: center;
}

.list-view-selection-div button{
    
    background-color: white;
    color: #00aeff;
    border: 1px solid #00aeff;
    width: fit-content;
    font-size: 12px;
    border-radius: 0.3rem;
    margin: 0 2rem;
    padding: .25rem .5rem;
    font-weight: 500;
}

.list-view-selection-div button:hover{
    background-color: #00AEFF;
    color: white;
    box-shadow: 0 0 2px 0 gray;
    transition: 0.2s all;
}

.button-div{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 3rem;
}

.list-view-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    background-color: white;
    /* height: 2.5rem; */
    border-radius: 0.5rem;
    border: 1px dashed gray;
    align-items: center;
    color: gray;
    flex-grow: 1;
    padding: 0.5rem 0;
}

.list-view-button:hover{
    background-color: #f3fbff;
    border: 1px transparent solid;
    box-shadow: 0 0 5px 0 lightgray;
    transition: all 0.2s;
    color: #00aeff;
}

.list-view-button:hover svg{
    fill: #00aeff;
}
.slds-backdrop_open{
    z-index: 100;
}


/* Basic Details Tab*/

.basic-main-div{
    display: flex;
    margin: 0.625rem auto;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
    background-color: #d5ebff;
    padding: 1rem;
    border-radius: 0.5rem;
}

.edit-detail-div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 0.5rem; 
    column-gap: 1rem;
    align-items: center;
}


.description-edit, .tempToggle{
    grid-column: 1 / span 2;
}

.List-view-div{
    display: flex;
    align-items: end;
    gap: 0.5rem;
}

.list-view-select{
    flex-grow: 1;
}

/* Custom Combo-box Styling*/

.custom-combobox{
    --inputAreaBorderWidth: 1px;
    --inputAreaBorderColor: transparent;
    --inputAreaHeight : 2.5rem;
    --inputAreaBorderRadius : 0.5rem;
    --dropDownWidth : 10rem;
    flex-grow: 1;
}

.field-select{
    --dropDownWidth : 15rem !important;
}

.error-in-custom-combobox{
    --inputAreaBorderWidth: 1px;
    --inputAreaBorderColor: red;
}
    
    /* Specially for value inputs, because it can be both a combobox or a simple input field */
.error-in-value-input{
    border-radius: 8px;
    border: 1px red solid;
}


@media only screen and (min-width: 48rem) and (max-width: 64rem) {
    

    .heading{
        font-size: 1rem;
    }
    
    .header{
        padding: 0.875rem;
    }

    .bold-text{
        font-size: 0.875rem;
    }

    .save-button{
        font-size: 0.875rem;
    }
}


@media only screen and (max-height:860px){
    .fields-div{
        justify-content: start;
        padding-top: 0;
    }

    li{
        height: 2rem;
    }

    .buttons{
        margin-top: 0;
    }

    .selection-div{
        height: 11.1rem  !important;
    }

    .selection-include-btn-div{
        height: 11.1rem  !important;
        margin-top:0;
    }

    .arrow-btn{
        height: 2rem;
    }
}